@using TodoList.lib.Entity
@model List<tbLists>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="panel-primary">
        <div class="panel-heading text-center">
            <h1>TODO LIST</h1>
        </div>
            <div class="panel-body">
                <table class="table">
                    <tr>                       
                        <td align="left">
                            @using (Html.BeginRouteForm("Default", new { action = "CreateTask", controller = "Lists" }))
                            {                                   
                                                                        
                                @Html.TextBox("name")
                                <input type="submit" class="btn btn-primary" value="Create" />
                            }
                        </td>  
                        <td align="right" width="1475">
                            @using (Html.BeginRouteForm("Default", new { action = "RemoveTasks", controller = "Lists" }))
                            {
                                @Html.Hidden("boolean", true)
                                <input type="submit" class="btn btn-warning" value="Remove completed tasks"/>
                            }
                        </td>
                        <td align="left">
                            @using (Html.BeginRouteForm("Default", new { action = "RemoveTasks", controller = "Lists" }))
                            {
                                @Html.Hidden("boolean", false)
                                <input type="submit" class="btn btn-danger" value="Remove tasks" />
                            }
                        </td>                                                     
                    </tr>                                                                                                   
                </table>  

                <div class="panel-success">
                    <div class="panel-heading text-center">
                        <h2>Tasks</h2>
                    </div>
                </div>          
                    <table class="table">
                        @foreach (tbLists item in Model)
                        {
                            if (item.isDone == true) { continue; }
                            <tr>
                                <td align="left" width="20100">
                                    <h3>@item.cName</h3>                                    
                                </td>
                                <td align="right" width="2000">
                                    @using (Html.BeginRouteForm("Default", new { action = "DoneTrue", controller = "Lists" }))
                                    {
                                        @Html.Hidden("id", @item.id)
                                        <input type="submit" class="btn btn-success" value="✔" width="3040" />                                       
                                    }
                                </td>
                                <td align="left">
                                    @using (Html.BeginRouteForm("Default", new { action = "DeleteTask", controller = "Lists" }))
                                    {
                                        @Html.Hidden("id", @item.id)
                                        <input type="submit" class="btn btn-danger" value="X" />
                                    }
                                </td>
                            </tr>
                        }
                    </table>            
                <div class="panel-warning">
                    <div class="panel-heading text-center">
                        <h2>Сompleted Tasks</h2>
                    </div>
                </div>   
                    <table class="table">
                        @foreach (tbLists item in Model)
                        {
                            if (item.isDone == false) { continue; }
                            <tr>
                                <td align="left" width="20100">
                                    <h3>@item.cName</h3> 
                                </td>
                                <td align="right" width="2000">
                                    @using (Html.BeginRouteForm("Default", new { action = "DoneFalse", controller = "Lists" }))
                                    {
                                        @Html.Hidden("id", @item.id)
                                        <input type="submit" class="btn btn-warning" value="✔" />
                                    }
                                </td>
                                <td align="left">
                                    @using (Html.BeginRouteForm("Default", new { action = "DeleteTask", controller = "Lists" }))
                                    {
                                        @Html.Hidden("id", @item.id)
                                        <input type="submit" class="btn btn-danger" value="X" />
                                    }
                                </td>
                            </tr>
                        }
                    </table>                                       
            </div>
    </div>
</body>
</html>
